.header{
	background-color: #F68781;
}
@font-face{
	font-family: lobster;
	src:url(../fonts/Lobster-Regular.ttf);
}
.headerfont{
	font-family: lobster;
	margin-left: 30px;
	color: #FFFFFF;
}
.nav{
	padding: 20px;
}
.nav button{
	margin-left: 10px;
	background-color: #F68781;
}
